<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sipariş Geçmişi</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/base.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/components.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/pages/order_history.css') }}"/>
</head>
<body>
    <header class="DerasHeader">
        <nav>
            <img src="{{ url_for('static', filename='Deras.png') }}" alt="Logo" class="logo">
            <h1>Sipariş Geçmişi</h1>
        </nav>
        <a href="{{ url_for('home') }}" class="main-page-button"><i class="fas fa-home"></i> Ana Sayfa</a>
    </header>
    <main>
        <section class="order-history">
            <h2>Siparişlerim</h2>
            <div class="order-container">
                <ul>
                    {% for order in orders %}
                    <li class="order-item">
                        <div class="order-date">{{ order.date.strftime('%Y-%m-%d %H:%M') }}</div>
                        <div class="order-details">
                            Ürün: {{ order.product.name }} - Miktar: {{ order.quantity }}
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </section>
    </main>
    <footer>
        <p>&copy; 2024 DERAS SWEETS&BAKERY. Tüm hakları saklıdır.</p>
    </footer>
</body>
</html>