/* Temel Stil Ayarları */
body {
  font-family: Arial, sans-serif;
  margin: 0; 
  padding: 0; 
  background-color: #f3e9d2;
  color: #5e503f;
}

footer {
  background-color: #a9927d;
  color: #f3e9d2;
  padding: 20px;
  text-align: center;
}

/* Tema Renkleri */
:root {
  --bg-color: #f3e9d2;
  --text-color: #5e503f;
  --footer-bg-color: #a9927d;
  --highlight-color: #4caf50;
  --dark-bg-color: #212529;
  --dark-text-color: #fff;
  --white-color: #fff;
  --yellow-color: #dbc310;
  --hover-color: #b83b5e;
  --button-bg-color: #f08a5d;
}

/* Ana Bölüm Stili */
main {
  display: flex; 
  justify-content: space-around; 
  padding: 20px; 
}

layout.css dosyası 
/* Ana Bölüm Stili */
main {
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

/* Ürün Listesi ve Sipariş Detayları Stilleri */
.product-list,
.order-details {
  width: 45%;
}

/* Sayfa düzeni ve genel bileşenler */
header {
  background-color: var(--bg-color);
  padding: 10px;
  text-align: center;
}

.DerasHeader {
  display: grid;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: #fefefe;
  padding-bottom: 60px;
}

.DerasHeader h1 {
  justify-content: center;
  margin-top: 70px;
  font-size: 2.5rem;
  font-family: Cursive;
  font-style: Lucida Handwriting;
}

.logo {
  width: 300px;
  height: 219px;
  position: absolute;
  top: 0;
  left: 0;
}

.header-content {
  display: grid;
  align-items: center;
}

